body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(180deg, rgb(246, 116, 104), rgb(191, 223, 241));
}

.app-container {
  text-align: center; /* per centrare il contenuto interno */
  display: grid;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 64px); /* Sottrae l'altezza della barra di navigazione */
}
